body {
    background: radial-gradient(100% 50% at 0% 50%, rgb(37, 44, 46) 0%, rgb(10, 12, 13) 100%);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.headText {
    font-family: 'Anton', sans-serif;
    color: whitesmoke;
}



.site__header__menu {
    display: flex;
    justify-content: space-between;
    background-color: radial-gradient(100% 50% at 0% 50%, rgb(37, 44, 46) 0%, rgb(10, 12, 13) 100%);
    padding: 1rem;
}

.site__header__menu li a {
    text-decoration: none;
    color: white;
}

.site__header__menu li {
    list-style-type: none;
}

.bg-card {
    border: 0.01rem ridge whitesmoke;
    background: transparent;
}

a {
    text-decoration: none;
}

.gifComputer {
    background-image: url(https://i.giphy.com/media/cRDo0nQtSlm8w/giphy.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
}

.sizeLogoPresentation {
    font-size: 4rem;
}

.tableGif tr {
    height: 10rem;
}

.logoGif {
    width: 8rem;
}

#navbarNav li {
    margin-left: 5rem;
}

.colorTitle {
    color: rgb(255,109,36);
}

.gifTablette {
    background-image: url(https://media1.tenor.com/images/a9856db3aa8fb6ea99577f7c6d1e2fdf/tenor.gif?itemid=18856272);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
}

/* animation  */

/* For text gif  */
.revealGifRight {
    opacity: 0;
    transform: translateX(+30px);
}
.revealGifRightVisible {
    opacity: 1;
    transform: translateX(0);
    transition: 1.3s;
}

@media (max-width: 1200px) {
    .revealGifRight {
        opacity: 0;
        transform: translateY(70px);
    }
    .revealGifRightVisible {
        opacity: 1;
        transform: translateY(0);
        transition: 1.3s;
    }
  }


/* For logo gif */
.reveal {
    opacity: 0;
    transform: translateY(100px);
}

.reveal-visible {
    opacity: 1;
    transform: translateX(0);
    transition: 2s;
}

/* For Gift left  */

.revealGifLeft {
    opacity: 0;
    transform: translateX(-70px);
}
.revealGifLeftVisible {
    opacity: 1;
    transform: translateX(0);
    transition: 1.5s;
}

@media (max-width: 1200px) {
    .revealGifLeft {
        opacity: 0;
        transform: translateY(50px);
    }
    .revealGifLeftVisible {
        opacity: 1;
        transform: translateY(0);
        transition: 1.5s;
    }
  }


/* For Tablette gif */

.revealGifTablette {
    opacity: 0;
    transform: translateX(-70px);
}
.revealGifTabletteVisible {
    opacity: 1;
    transform: translateX(0);
    transition: 1.5s;
}

.textFooter {
    text-shadow: 10px 5px 100px grey;
    color: whitesmoke;
}

.footerContainStyle {
    background-color: rgb(10, 12, 13);
}
